:root {
  --dark-purple: #24053e;
  --white: #ffffff;
  --eucaplyptus: #44ffa1;
  --ghost-white: #fcf8ff;
}

@font-face {
  font-family: 'Fraunces';
  src: url('./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/manrope/Manrope-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fraunces';
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1190px;
  padding: 0 40px;
  margin: 0 auto;
}

/*Utility classes*/

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-underline {
  display: inline-block;
  border-bottom: 1px solid var(--eucaplyptus);
}

.text-manrop {
  font-family: 'Manrope';
  font-variation-settings: 'wght' 700;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: -0.18px;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/*Section Hero + Header*/

.hero {
  position: relative;
  padding-bottom: 338px;
  background-color: var(--ghost-white);
  color: var(--white);
  z-index: 1;
}

.hero::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url(./assets/images/bg-pattern-1.svg),
    url(./assets/images/bg-pattern-2.svg);
  background-repeat: no-repeat;
  background-position: -140px 115px, calc(100% + 50px) 314px;
  background-color: var(--dark-purple);
  clip-path: ellipse(122% 100% at top);
  z-index: -1;
}

.header {
  padding: 56px 0px;
}
.header__btn {
  transition: all 0.4s ease-in-out;
}
.header__btn:hover {
  color: var(--eucaplyptus);
}

.hero__title {
  max-width: 635px;
  margin: 0 auto 51px;
  font-variation-settings: 'wght' 600;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -3.5px;
}

.hero__link {
  padding: 13px 32px 16px;
  background-color: var(--eucaplyptus);
  color: var(--dark-purple);
  border: 1px solid var(--eucaplyptus);
  transition: all 0.4s ease-in-out;
}

.hero__link:hover {
  color: var(--eucaplyptus);
  background-color: var(--dark-purple);
}

.hero__img {
  margin: 0px auto;
  max-width: 767px;
  bottom: -173px;
  left: 51px;
  right: 0;
}

/*Card section*/
.cards {
  padding: 258px 0 171px;
  background-color: var(--ghost-white);
  clip-path: ellipse(122% 100% at top);
}

.cards .container {
  justify-content: space-between;
}
.card {
  max-width: 353px;
  color: var(--dark-purple);
}

.card__number {
  margin: 0 auto;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid var(--dark-purple);
  font-variation-settings: 'wght' 600;
  font-size: 24px;
}

.card__title {
  margin: 56px 0px 28px;
  font-variation-settings: 'wght' 600;
  font-size: 32px;
  letter-spacing: -3px;
}

.card__body {
  margin: 0 auto;
  font-family: 'Manrope';
  font-variation-settings: 'wght' 400;
  font-size: 18px;
  line-height: 1.8;
}

/*Test section*/
.test {
  padding: 110px 0 230px;
}
.test__founder {
  width: 477px;
  height: 477px;
  border-radius: 50%;
}
.test__card {
  max-width: 730px;
  padding: 64px;
  bottom: -110px;
  right: 40px;
  background-color: var(--dark-purple);
  color: var(--white);
}

.test__card:after {
  content: '';
  position: absolute;
  bottom: -76px;
  right: 40px;
  width: 221px;
  height: 212px;
  background-image: url(./assets/images/bg-pattern-3.svg);
  background-repeat: no-repeat;
}

.test__title {
  font-variation-settings: 'wght' 600;
  font-size: 56px;
  letter-spacing: -3.5px;
}

.test__body {
  margin: 32px 0px;
  font-family: 'Manrope';
  font-variation-settings: 'wght' 400;
  font-size: 18px;
  line-height: 1.78;
}

.test__button {
  display: inline-block;
  padding: 13px 25px;
  background-color: var(--eucaplyptus);
  color: var(--dark-purple);
  border: 1px solid var(--eucaplyptus);
  transition: all 0.4s ease-in-out;
}

.test__button:hover {
  color: var(--eucaplyptus);
  background-color: var(--dark-purple);
}

/*Footer*/
.footer {
  padding-bottom: 111px;
}
.footer__logo {
  margin-bottom: 52px;
}

.footer__social {
  gap: 28px;
}

@media (max-width: 1120px) {
  .hero::before {
    background-position: -200px 138px, calc(100% + 80px) 364px;
  }

  .hero__title {
    font-size: 60px;
  }
  .hero__img {
    max-width: 514px;
  }
  .cards .container {
    flex-direction: column;
    gap: 48px 0px;
  }

  .card {
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 0 32px;
    text-align: left;
  }

  .card__number {
    min-width: 48px;
    width: 48px;
    height: 48px;
    font-size: 20px;
  }

  .card__content {
    flex-grow: 1;
  }

  .card__title {
    margin: 0 0 16px 0;
    font-size: 28px;
  }
  .test {
    padding-bottom: 325px;
  }

  .test__card {
    padding: 48px 56px 56px;
    max-width: 614px;
    top: 50%;
    bottom: auto;
  }

  .test__title {
    font-size: 48px;
  }

  .test__card:after {
    bottom: -86px;
    right: 40px;
  }

  .header__btn,
  .hero__link,
  .card__body,
  .test__button,
  .test__body {
    font-size: 16px;
  }
}

@media (max-width: 950px) {
  .test__founder {
    width: 281px;
    height: 281px;
  }
}

@media (max-width: 850px) {
  .header {
    padding: 34px 0px;
  }

  .hero {
    padding-bottom: 218px;
  }

  .hero::before {
    clip-path: ellipse(134% 100% at top);
    background-position: -228px 72px, calc(100% + 94px) 251px;
  }

  .hero__img {
    bottom: -151px;
  }

  .hero__title {
    max-width: 500px;
    margin-top: 26px;
    line-height: 1;
  }

  .hero__link {
    padding: 13px 24px 16px;
  }

  .cards {
    padding: 205px 0 105px;
    clip-path: ellipse(150% 100% at top);
  }

  .cards .container {
    max-width: 650px;
  }

  .test {
    padding: 95px 0 323px;
  }

  .test__card {
    max-width: 514px;
    top: 53%;
  }

  .test__body {
    margin: 23px 0px;
  }
}

@media (max-width: 750px) {
  .test .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .test__card {
    position: static;
    padding: 32px;
    margin-top: -50px;
    text-align: center;
  }

  .test__card:after {
    content: none;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 16px;
  }

  .hero {
    padding-bottom: 170px;
  }

  .hero::before {
    clip-path: ellipse(202% 100% at top);
    background-image: none;
  }

  .hero__title {
    font-size: 50px;
    margin-top: 32px;
    margin-bottom: 52px;
  }

  .hero__img {
    max-width: 320px;
    left: 18px;
    bottom: -95px;
  }

  .cards {
    padding: 156px 0 74px;
    clip-path: ellipse(202% 100% at top);
  }

  .cards .container {
    gap: 36px 0px;
  }

  .card {
    flex-direction: column;
    text-align: center;
    gap: 24px;
  }

  .test {
    padding: 95px 0 71px;
  }

  .test__title {
    font-size: 32px;
  }

  .test__body {
    margin: 21px 0 24px;
  }
}
