@font-face {
  font-family: "Fraunces";
  src: url("./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  --dark-purple: #24053e;
  --white: #ffffff;
  --eucaplyptus: #44ffa1;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fraunces";
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1112px;
  padding: 0 40px;
  margin: 0 auto;
}

/*Utility classes*/

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-underline {
  border-bottom: 1px solid var(--eucaplyptus);
}

.text-manrop {
  font-family: "Manrope";
  font-variation-settings: "wght" 700;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: -0.18px;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/*Section Hero + Header*/

.hero {
  background-image: url(./assets/images/bg-pattern-1.svg),
    url(./assets/images/bg-pattern-2.svg);
  background-repeat: no-repeat;
  background-position: -110px 138px, 105% 364px;
  background-color: var(--dark-purple);
  color: var(--white);
  clip-path: ellipse(143% 100% at top);

  padding-bottom: 300px;
}

.header {
  padding: 56px 0px;
}
.header__btn {
  transition: all 0.4s ease-in-out;
}
.header__btn:hover {
  color: var(--eucaplyptus);
}

.hero__title {
  max-width: 635px;
  margin: 0 auto 37px;
  font-variation-settings: "wght" 600;
  font-size: 80px;
  line-height: 80px;
}

.hero__link {
  padding: 13px 32px;
  background-color: var(--eucaplyptus);
  color: var(--dark-purple);
  border: 1px solid var(--eucaplyptus);
  transition: all 0.4s ease-in-out;
}

.hero__link:hover {
  color: var(--eucaplyptus);
  background-color: var(--dark-purple);
}

.hero__img {
  margin: 0px auto;
  max-width: 767px;
  top: -270px;
  left: 0;
  right: 0;
}

/*Card section*/
.cards {
  padding: 285px 0 250px;
}

.cards .container {
  gap: 0 26px;
}
.card {
  max-width: 355px;
  color: var(--dark-purple);
}

.card__number {
  margin: 0 auto;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid var(--dark-purple);
  font-variation-settings: "wght" 600;
  font-size: 24px;
}

.card__title {
  margin: 56px 0px 28px;
  font-variation-settings: "wght" 600;
  font-size: 32px;
}

.card__body {
  font-family: "Manrope";
  font-variation-settings: "wght" 400;
  font-size: 18px;
}

/*Test section*/
.test {
  padding-bottom: 230px;
}
.test__founder {
  width: 477px;
  height: 477px;
  border-radius: 50%;
}
.test__card {
  max-width: 730px;
  margin-right: 40px;
  padding: 64px;
  bottom: -70px;
  right: 0;
  background-color: var(--dark-purple);
  color: var(--white);
}

.test__card:after {
  content: "";
  position: absolute;
  bottom: -76px;
  right: 40px;
  width: 221px;
  height: 212px;
  background-image: url(./assets/images/bg-pattern-3.svg);
  background-repeat: no-repeat;
}

.test__title {
  font-variation-settings: "wght" 600;
  font-size: 56px;
}

.test__body {
  margin: 32px 0px;
  font-family: "Manrope";
  font-variation-settings: "wght" 400;
  font-size: 18px;
}

.test__button {
  padding: 13px 25px;
  background-color: var(--eucaplyptus);
  color: var(--dark-purple);
  border: 1px solid var(--eucaplyptus);
  transition: all 0.4s ease-in-out;
}

.test__button:hover {
  color: var(--eucaplyptus);
  background-color: var(--dark-purple);
}

/*Footer*/
.footer {
  padding-bottom: 111px;
}
.footer__logo {
  margin-bottom: 57px;
}

.footer__social {
  gap: 28px;
}

@media (max-width: 1120px) {
  .hero__img {
    max-width: 514px;
  }
  .cards .container {
    flex-direction: column;
    gap: 48px 0px;
  }

  .card {
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 0 32px;
    text-align: left;
  }

  .card__number {
    min-width: 48px;
    height: 48px;
  }

  .card__title {
    margin: 0 0 16px 0;
  }

  .test__founder {
    width: 281px;
    height: 281px;
  }

  .test__card {
    padding: 48px 56px 56px;
    top: 50%;
    left: 225px;
    bottom: auto;
  }

  .test__card:after {
    bottom: -86px;
    right: 40px;
  }
}
